<div class="container">
  <div [hidden]="submitted">
    <h1>User Form</h1>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">

      <div class="form-group">
        <label for="firstName1">First Name</label>
        <input type="text" class="form-control" id="firstName1"
               required
               [(ngModel)]="model.firstName" name="firstName"
               #firstName="ngModel">
        <div [hidden]="firstName.valid || firstName.pristine"
             class="alert alert-danger">
          First Name is required
        </div>
      </div>



      <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newUser(); userForm.reset()">New User</button>
      <i>with</i> reset

      &nbsp;&nbsp;
      <button type="button" class="btn btn-default" (click)="newUser()">New User</button>
      <i>without</i> reset

      <!-- NOT SHOWN IN DOCS -->
      <div>
        <hr>
        Name via form.controls = {{showFormControls(heroForm)}}
      </div>
      <!-- - -->
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">First name</div>
      <div class="col-xs-9  pull-left">{{ model.firstName }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Last </div>
      <div class="col-xs-9 pull-left">{{ model.lastName }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Power</div>
      <div class="col-xs-9 pull-left">{{ model.age }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>

<!-- ====================================================  -->
<div>
  <form>

    <!-- ... all of the form ... -->

  </form>
</div>

<!-- ====================================================  -->
<hr>
<style>
  .no-style .ng-valid {
    border-left: 1px  solid #CCC
  }

  .no-style .ng-invalid {
    border-left: 1px  solid #CCC
  }
</style>



